<h1>{{ exercise.name | titlecase }}</h1>
<h5>Bodypart: <a [routerLink]="['/bodypart/', exercise.bodyPart]">{{ exercise.bodyPart | titlecase }}</a></h5>
<h5>Equipment: <a [routerLink]="['/equipment/', exercise.equipment]">{{ exercise.equipment | titlecase }}</a></h5>
<h5>Target: <a [routerLink]="['/target/', exercise.target]"> {{ exercise.target | titlecase }}</a></h5>


<img [src]="exercise.gifUrl" width="300" />

<h5>Secondary muscles</h5>
<ul class="list-group list-group-flush">
    <li *ngFor="let sec of exercise.secondaryMuscles" class="list-group-item">{{ sec | titlecase }}</li>
</ul>
<br />
<br />
<h5>Instructions:</h5>
<ul class="list-group list-group-flush list-group-numbered">
    <li *ngFor="let inst of exercise.instructions" class="list-group-item">{{ inst }}</li>
</ul>
